<!DOCTYPE html>
<html lang="en">
<head>
  <title>Wanderd</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="HTML5 website template">
  <meta name="keywords" content="www.wanderd.fun, vita, html, sass, jquery">
  <meta name="author" content="Bucky Maler">
  <link rel="stylesheet" href="__VITA__css/main.css">

  <link href="__COMMON__css/common.css" rel="stylesheet" type="text/css"/>

  <link rel="icon" href="__COMMON__img/logo.jpg" type="image/x-icon"/>
</head>
<body>

<!-- notification for small viewports and landscape oriented smartphones -->
<div class="device-notification">
  <a class="device-notification--logo" href="#0">
    <img src="__VITA__img/logo.png" alt="Wanderd">
    <p>Wanderd</p>
  </a>
  <p class="device-notification--message">刘恒东个人简历</p>
</div>

<div class="perspective effect-rotate-left">
  <div class="container"><div class="outer-nav--return"></div>
    <div id="viewport" class="l-viewport">
      <div class="l-wrapper">
        <header class="header">
          <a class="header--logo" href="#0">
            <img src="__VITA__img/logo.png" alt="Wanderd">
            <p>wanderd</p>
          </a>
          <!-- <button class="header--cta cta">Hire Us</button> -->
          <div class="header--nav-toggle">
            <span></span>
          </div>
        </header>
        <nav class="l-side-nav">
          <ul class="side-nav">
            <li class="is-active"><span>Me</span></li>
            <li><span>Skil</span></li>
            <li><span>Work</span></li>
            <li><span>Project 1</span></li>
            <li><span>Project 2</span></li>
            <li><span>Other</span></li>
            <li><span>evaluation</span></li>
          </ul>
        </nav>
        <ul class="l-main-content main-content">

          <!-- 我 -->
          <li class="l-section section section--is-active">
            <div class="intro">
              <div class="intro--banner">
                <h1>
                刘恒东</h1>
                <p>年&nbsp;&nbsp;&nbsp;&nbsp;龄：24岁</p>
                <p>现居地：广州</p>
                <p>电&nbsp;&nbsp;&nbsp;&nbsp;话：18277704361</p>
                <p>邮&nbsp;&nbsp;&nbsp;&nbsp;箱：lhd1176211220@163.com</p>
                <br>
                <p>教育背景：  </p>
                <p>2013.09-2017.07</p>
                <p><a href="#" style="text-decoration:none;color:#fff; " onclick="javascript:window.location.href='http://hq.qzhu.edu.cn/'">钦州学院 计算机科学与技术(本科)</a></p>
                <p></p>
                <img src="__VITA__img/introduction-visual.png" alt="Welcome">
              </div>
              <!-- <div class="intro--options">
                <a href="#0">
                  <h3>Metiew &amp; Smith</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                </a>
                <a href="#0">
                  <h3>Fantasy interactive</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                </a>
                <a href="#0">
                  <h3>Paul &amp; shark</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit sed do.</p>
                </a>
              </div>
            </div> -->
          </li>

          <!-- 技能 -->
          <li class="l-section section">
            <div class="hire">
              <h2>熟练使用</h2>
              <!-- checkout formspree.io for easy form setup -->
              <form class="work-request" onsubmit="return false;">
                <div class="work-request--options">
                  <span class="options-a">
                    <input id="opt-1" type="checkbox" value="app design">
                    <label for="opt-1">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      PHP+MYSQL
                    </label>
                    <input id="opt-2" type="checkbox" value="graphic design">
                    <label for="opt-2">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      一般环境部署
                    </label>
                    <input id="opt-3" type="checkbox" value="motion design">
                    <label for="opt-3">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      H5+CSS3+JS+JQ
                    </label>
                  </span>
                  <span class="options-b">
                    <input id="opt-4" type="checkbox" value="ux design">
                    <label for="opt-4">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                      THINKPHP
                    </label>
                    <input id="opt-5" type="checkbox" value="webdesign">
                    <label for="opt-5">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                       LARAVEL
                    </label>
                    <input id="opt-6" type="checkbox" value="marketing">
                    <label for="opt-6">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                  redis
                    </label>
                    <label for="opt-6">
                      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                      viewBox="0 0 150 111" style="enable-background:new 0 0 150 111;" xml:space="preserve">
                      <g transform="translate(0.000000,111.000000) scale(0.100000,-0.100000)">
                        <path d="M950,705L555,310L360,505C253,612,160,700,155,700c-6,0-44-34-85-75l-75-75l278-278L550-5l475,475c261,261,475,480,475,485c0,13-132,145-145,145C1349,1100,1167,922,950,705z"/>
                      </g>
                      </svg>
                 SVN/GIT/COMPOSER
                    </label>
                  </span>
                </div>
                <!-- <div class="work-request--information">
                  <div class="information-name">
                    <input id="name" type="text" spellcheck="false">
                    <label for="name">Name</label>
                  </div>
                  <div class="information-email">
                    <input id="email" type="email" spellcheck="false">
                    <label for="email">Email</label>
                  </div>
                </div>
                 -->
                 <input type="submit" value="Waitting More ...">
              </form>
            </div>
          </li>

          <!-- 工作经历 -->
          <li class="l-section section">
            <div class="work">
              <h2>工作经历</h2>
              <div class="work--lockup">
                <ul class="slider">
                  <li class="slider--item slider--item-left">
                    <a href="#0">
                      <div class="slider--item-image">
                        <img src="__COMMON__img/slb.jpg" alt="Victory">
                      </div>
                      <p class="slider--item-title">广州搜礼吧 2017.07-2018.05</p>
                      <p class="slider--item-description">基于微信开发的电商平台</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-center">
                    <a href="#0">
                      <div class="slider--item-image">
                        <img src="__COMMON__img/cb.jpg" alt="Metiew and Smith">
                      </div>
                      <p class="slider--item-title">广州城北科技 2018.05-2019.03</p>
                      <p class="slider--item-description">基于微信开发的控价/红包/二维码系统</p>
                    </a>
                  </li>
                  <li class="slider--item slider--item-right">
                    <a href="#0">
                      <div class="slider--item-image">
                        <!-- <img src="__COMMON__img/cbcx.jpg" alt="Alex Nowak"> -->
                        <img src="__COMMON__img/search.jpg" alt="Alex Nowak">
                      </div>
                      <p class="slider--item-title">2019.04</p>
                      <p class="slider--item-description">寻求更大的平台</p>
                    </a>
                  </li>
                </ul>
                <div class="slider--prev">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M561,1169C525,1155,10,640,3,612c-3-13,1-36,8-52c8-15,134-145,281-289C527,41,562,10,590,10c22,0,41,9,61,29
                    c55,55,49,64-163,278L296,510h575c564,0,576,0,597,20c46,43,37,109-18,137c-19,10-159,13-590,13l-565,1l182,180
                    c101,99,187,188,193,199c16,30,12,57-12,84C631,1174,595,1183,561,1169z"/>
                  </g>
                  </svg>
                </div>
                <div class="slider--next">
                  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 150 118" style="enable-background:new 0 0 150 118;" xml:space="preserve">
                  <g transform="translate(0.000000,118.000000) scale(0.100000,-0.100000)">
                    <path d="M870,1167c-34-17-55-57-46-90c3-15,81-100,194-211l187-185l-565-1c-431,0-571-3-590-13c-55-28-64-94-18-137c21-20,33-20,597-20h575l-192-193C800,103,794,94,849,39c20-20,39-29,61-29c28,0,63,30,298,262c147,144,272,271,279,282c30,51,23,60-219,304C947,1180,926,1196,870,1167z"/>
                  </g>
                  </svg>
                </div>
              </div>
            </div>
          </li>

          <!-- 项目经验  1 -->
          <li class="l-section section">
            <div class="about">
                <h2 style="text-align: center;">项目经验</h2>
              <div class="about--banner">
                <p>一.控价防伪系统</p>
                <p>承担职责：个人独立开发</p>
                <!-- <p>系统架构：</p> -->
                <p>系统简介：</p>
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  该类系统基于微信开发，使用 LAMP/LNMP&nbsp;&nbsp;+&nbsp;&nbsp;THINKPHP5.0/THINKPHP3.2 架构，后台主要管理标签，会员，产品，培训及公告，会员使用微信号授权注册/条件选择会员等级，并通过订单功能实现下单支付(线上或线下)/收发货/差价及返利等一系列操作
                </p>
                <p>主要功能：</p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    防伪标签生成，标签绑定及出入库，会员注册，订单微信支付，差价与返利，培训与公告系统
                </p>
                <p>项目难点：</p>
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  1.会员等级升降模块涉及到其他模块需维持统一；2.差价与返利模块因需求而繁杂；3.标签/会员信息和出入库模块需要在数据库中巨量存储以及查改。
                </p>
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  这三个模块在数据库设计时需要考虑好数据表优化设计(引擎，索引，分表等)，逻辑代码编写时注意减轻对服务器的压力(主要sql语句优化)，并注意模块间数据耦合调用，公共功能内聚复用。
                </p>
              </div>
            </div>
          </li>

           <!-- 项目经验 2 -->
          <li class="l-section section">
            <div class="about">
                <h2 class="text-center" style="text-align: center;">项目经验</h2>
              <div class="about--banner">
                <p>二.红包活动</p>
                <p>承担职责：个人独立开发</p>
                <!-- <p>系统架构：</p> -->
                <p>系统简介：</p>
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  该类系统基于微信开发，使用 LAMP&nbsp;&nbsp;+&nbsp;&nbsp;THINKPHP5.0架构，后台主要管理标门店&店员，红包活动，红包码发放，数据报表；用户使用微信号注册门店并发展店员，门店可查看产品销售和红包活动等数据；店员对销售产品进行扫码激活活动；消费者根据对应活动填写信息参与活动。
                </p>
                <p>主要功能：</p>
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    门店注册&店员发展，红包码生成，活动创建，红包码出库(绑定门店&绑定活动),红包发放(微信),活动激活与参与，数据报表。
                </p>
                <p>项目难点：</p>
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  1.概率抽取功能，预设红包码信息，预设多种活动，预设多类产品(红包，卡券，实物等)，预设抽取次数限制，对此便出现较多走向，逻辑繁杂并需要一定算法设计；
                </p>
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  2.红包码信息/门店&店员信息/活动参与信息，此三类数据较大，在数据库设计时需注意在存查改方面的优化。
                </p>
              </div>
            </div>
          </li>

           <!-- 项目经验 3 -->
          <li class="l-section section">
            <div class="about">
                <h2 class="text-center" style="text-align: center;">项目经验</h2>
              <div class="about--banner">
                <p>其他类型：CRM&工程二维码</p>
                <p>CRM： 公司内部使用人员管理系统，使用RABC权限管理，主要功能有工作报告提交与审批，系统公告，项目记录报表，考勤管理。</p>
                <p>工程二维码：生成工程码，系统采用RABC权限管理，后台创建工程类型&审批管理申报工程，子级角色填写预设工程信息申报工程，填写工程维护报告。</p>

                <p>控价系统：</p>
                <div>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;jcyx.315ww.com/index.php/Index/homepage (微官网)
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;jg.315mao.com/index.php/Home/Index/homepage (微官网)
                    <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;dihan.315mao.com/index.php/Home/Index/homepage (微官网)

                <p>红包系统：</p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    bsy.315mao.com
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    botong.315mao.com 
                </div>
              </div>
            </div>
          </li>

          <!-- 自我评价。。 -->
          <li class="l-section section">
            <div class="about">
                <h2 class="text-center" style="text-align: center;">自我评价</h2>
              <div class="about--banner">
                
                </div>
              </div>
            </div>
          </li>


          <li class="l-section section">
            <div class="contact">
              <div class="contact--lockup">
                <div class="modal">
                  <div class="modal--information">
                    <p>Pawia 5, 31-154 Kraków, Poland</p>
                    <a href="mailto:ouremail@gmail.com">ouremail@gmail.com</a>
                    <a href="tel:+148126287560">+48 12 628 75 60</a>
                  </div>
                  <ul class="modal--options">
                    <li><a href="#0">Bēhance</a></li>
                    <li><a href="#0">dribbble</a></li>
                    <li><a href="mailto:ouremail@gmail.com">Contact Us</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>
  </div>
  <ul class="outer-nav">
    <li class="is-active"><span>Me</span></li>
    <li><span>Skil</span></li>
    <li><span>Work</span></li>
    <li><span>Project 1</span></li>
    <li><span>Project 2</span></li>
    <li><span>Other</span></li>
    <li><span>evaluation</span></li>
    <li onclick="window.location.href='http://www.wanderd.fun'"><a href="http://www.wanderd.fun" style="text-decoration: none;color:#fff;"><span>My Blog</span></a></li>
  </ul>
</div>

<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->
<script src="__VITA__/js/jquery.js"></script>
<script>window.jQuery || document.write('<script src="__VITA__js/vendor/jquery-2.2.4.min.js"><\/script>')</script>
<script src="__VITA__js/functions-min.js"></script>
</body>
</html>
