<!--========== START HEADER ==========-->
<header class="header navbar-fixed-top">
    <nav class="navbar" role="navigation">
        <div class="container">
            <div class="menu-container js_nav-item">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="toggle-icon"></span>
                </button>
                <div class="logo">
                    <a class="logo-wrap" href="#body">
                        <img class="logo-img logo-img-main"  src="__WANDER__img/wander_logo-white.png" alt="Wanderd">
                        <img class="logo-img logo-img-active"  src="__WANDER__img/wander_logo-black.png" alt="Wanderd">
                    </a>
                </div>
            </div>
            <div class="collapse navbar-collapse nav-collapse">
                <div class="menu-container">
                    <ul class="nav navbar-nav navbar-nav-right">
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="{:url('Index/index')}">Home</a></li>
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#view">List</a></li>
                        <li class="js_nav-item nav-item"><a class="nav-item-child nav-item-hover" href="#" onclick="javascript:history.back();">Back</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<!--========== END HEADER ==========-->