<!--========== START SLIDER ==========-->
<style type="text/css">
    .carousel-inner{
        height: 96px;
    }
</style>
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <div class="container">
        <ol class="carousel-indicators">
            <!-- <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li> -->
            <!-- <li data-target="#carousel-example-generic" data-slide-to="1"></li> -->
            <!-- <li data-target="#carousel-example-generic" data-slide-to="2"></li> -->
            <!-- <li data-target="#carousel-example-generic" data-slide-to="3"></li> -->
        </ol>
    </div>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img class="img-responsive" src="__WANDER__img/1920x1080/01.jpg" alt="Slider Image">
        </div>
        <!-- <div class="item">
            <img class="img-responsive" src="__WANDER__img/1920x1080/02.jpg" alt="Slider Image">
        </div> -->
        <!-- <div class="item">
            <img class="img-responsive" src="__WANDER__img/1920x1080/03.jpg" alt="Slider Image">
        </div>
        <div class="item">
            <img class="img-responsive" src="__WANDER__img/1920x1080/04.jpg" alt="Slider Image">
        </div> -->
    </div>
</div>
<!--========== END SLIDER ==========-->