    {include file="common/head"}
    <link rel="stylesheet" href="__ADMIN__assets/css/lib/datatable/dataTables.bootstrap.min.css">
    <!-- Left Panel -->
    {include file="common/left"}
    <!-- /#left-panel -->
    <!-- Left Panel -->
    <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
       <!-- Header-->
       {include file="common/header"}
       <!-- /header -->
        <!-- Header-->
        <div class="breadcrumbs">
            <div class="breadcrumbs-inner">
                <div class="row m-0">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>View Code</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="page-header float-right">
                            <div class="page-title">
                                <ol class="breadcrumb text-right">
                                    <li><a href="#">keep calm and code</a></li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">View Code</strong>
                                &nbsp;
                                <a href="{:url('View/viewCodeAdd')}"> <i class="fa fa-plus-square"></i> add</a>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Title</th>
                                            <th>Describe</th>
                                            <th>create time</th>
                                            <th>operation</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {volist name="list" id="v" key="k"}
                                            <tr>
                                                <td>{$k}</td>
                                                <td>{$v.title|default=''}</td>
                                                <td>{$v.content|strip_tags|trim|mb_substr=###,0,20}...</td>
                                                <td>{$v.create_time}</td>
                                                <td>
                                                    <a class="icon-container" href="__URL__/ViewCodeDetail?id={$v.id}" role="button"><span class="ti-zoom-in"></span></a>
                                                    <a class="icon-container" href="#" onclick="del('{$v.id}',this)" role="button"><span class="ti-trash"></span></a>
                                                     
                                                    <!-- <button class="btn btn-outline-danger" type="button" onclick="del('{$v.id}')">delete</button> -->

                                                  <!--   <a class="btn btn-outline-primary" href="__URL__/ViewCodeDetail?id={$v.id}" role="button">detail</a>
                                                    <button class="btn btn-outline-danger" type="button" onclick="del('{$v.id}')">delete</button> -->
                                                </td>
                                            </tr>
                                        {/volist}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- .animated -->
        </div><!-- .content -->

        <div class="clearfix"></div>
    </div>
    {include file="common/footer"}
    <!-- Scripts -->
    

     <script type="text/javascript">
        $(document).ready(function() {
          $('#bootstrap-data-table-export').DataTable();
      } );
        function del(id){
            if(confirm('Confirm Delete?') == 'false'){
                return;
            }
            $.post("{:url('View/viewCodeDel')}",{id:id},function(res){
                if(res.code == 200){
                    $(obj).closest('tr').remove();
                    // window.location.reload();
                }else{
                    alert(res.msg);
                }
            });
        }
    </script>
